<!-- Same build as index with the following changes: 
1. Carousel defaults to the third essay image
2. The blog/essay portion of the webpage now has the third blog not the first
-->
{% extends "layout.html" %}

{% block title %}
The AI Arms Race
{% endblock %}

{% block body %}
<!-- Implement Carousel to show current blog posts, most popular, most recent.. etc. Each hyperlinked to the post itself -->
<body class="container">
   <main class="container">
     <!-- Begin Carousel -->
       <div id="mainCarousel" class="carousel slide p-4 m-md-5 mb-4" data-bs-ride="carousel">
        <!-- Button indicators show how many "pages" are in carousel which one is being shown and a way to navigate to others for the user -->
        <!-- Note to get carousel to show #2's image set active for both the items and indicaters to the second postions -->
           <div class="carousel-indicators">
             <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0"  aria-label="Slide 1"></button>
             <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1"  aria-label="Slide 2"></button>
             <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" class="active"  aria-current="true" aria-label="Slide 3"></button>
           </div>
           <div class="carousel-inner col-lg-6 px-0 text-light">
             <div class="carousel-item">
              <a href="/">
                <img src="{{ url_for('static', filename='images/ff.png') }}" class="d-block w-100" alt="image of coal burning power plant">
              </a>
               <div class="carousel-caption d-none d-md-block text-light">
                 <h5>Fossil Fuel Peak</h5>
                 <p>The per capita cost of energy and how it shapes the world.</p>
               </div>
             </div>
             <div class="carousel-item">
              <a href="/essay2">
                <img src="{{ url_for('static', filename='images/nyse.png') }}" class="d-block w-100" alt="image of new york stock exchange">
              </a>
               <div class="carousel-caption d-none d-md-block text-light">
                 <h5>The value of currency</h5>
                 <p>The Fed, the dollar, and you.</p>
               </div>
             </div>
             <div class="carousel-item active">
              <a href="/essay3">
                <img src="{{ url_for('static', filename='images/ai.png') }}" class="d-block w-100" alt="image of brain as a computer chip">
              </a>
               <div class="carousel-caption d-none d-md-block text-light">
                 <h5>The AI Race</h5>
                 <p>An Internation arms race going where no one can predict.</p>
               </div>
             </div>
           </div>
           <button class="carousel-control-prev" type="button" data-bs-target="#mainCarousel" data-bs-slide="prev">
             <span class="carousel-control-prev-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Previous</span>
           </button>
           <button class="carousel-control-next" type="button" data-bs-target="#mainCarousel" data-bs-slide="next">
             <span class="carousel-control-next-icon" aria-hidden="true"></span>
             <span class="visually-hidden">Next</span>
           </button>       
       </div>
       <!-- End Carousel -->
       <!-- Begin Blog Section -->
       <hr>
       <div class="container-fluid">
         <article class="blog-post">
           <h2 class="link-body-emphasis">The AI Arms Race</h2>
           <p class="blog-post-meta">4 September 2023 by Gaius Gracchus</p>
           <p> Essay detailing the consquences of the 21st century Manhattan Project moment as Militaries around the world now scramble to build
               systems of systems with Sensor Fusion, Machine Learning, and Expendable nodes to usher in a new age of warfare. 
           </p>
           <hr>
           <p> Actual Essay contents... place holder</p>
           <h3>Defense example of ML and AI application:</h3>
           <ul>
             <li>Disposable drones for the Air Force</li>
             <li>Non-kinetic Cyber based effects</li>
             <li>Sensor fusion algorithms</li>
             <li>Supply chains</li>
             <li>Smarter  precision weapons</li>
           </ul>
           <h3>Militaries around the world investment in AI</h3>
           <p>Table showing the dollars each military around the world has placed into developing AI weapons</p>
           <table class="table">
             <thead>
               <tr>
                 <th>Nation</th>
                 <th>$s Invested into AI Weapons</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td>US</td>
                 <td>a</td>
               </tr>
               <tr>
                 <td>China</td>
                 <td>b</td>
               </tr>
               <tr>
                 <td>Australia</td>
                 <td>c</td>
               </tr>
               <tr>
                 <td>Russia</td>
                 <td>d</td>
               </tr>
               <tr>
                 <td>India</td>
                 <td>e </td>
               </tr>
             </tbody>
             <tfoot>
               <tr>
                 <td>Totals</td>
                 <td>a+b+b+d+e</td>
               </tr>
             </tfoot>
           </table>
           <p>Article continuing after table to end</p>
         </article>
       </div>
   </main>
</body>
{% endblock %}