<!-- index.html will be the basic layout for the entire webpage which will build off the layout.html to keep the web app consistant -->
 {% extends "layout.html" %}

 {% block title %}
 Home
 {% endblock %}

 {% block body %}
<!-- Implement Carousel to show current blog posts, most popular, most recent.. etc. Each hyperlinked to the post itself -->
<body>
    <main>
        <div id="mainCarousel" class="carousel slide mb-6 pointer-event" data-bs-ride="carousel">
            <!-- Button indicators show how many "pages" are in carousel which one is being shown and a way to navigate to others for the user -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="0" aria-label="slide 1" class></button>
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="1" aria-label="slide 2" class></button>
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="2" aria-label="slide 3" class></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item">
                    
                </div>
            </div>
        </div>
    </main>
</body>
 {% endblock %}