<!-- Layout for the blog website will be the skeleton of every webpage within the nocturnal mediations blog -->

<DOCTYPE html>
    <!-- Employ Dark theme throughout the entire web app -->
    <html lang="en" data-bs-theme="dark">
        <head>
            <meta charset="utf-8">

            <!-- Code to ensure via bootstrap the application scales to the user's screen -->
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- Get Bootstrap -->
            <!-- Link To Sytle Sheet-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
            <!-- Link to Javascript for BootStrap -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
            <!-- Include Popper from bootstrap to build in dropdowns -->
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
            <!-- Stylesheet for web app based on carousel example on getbootstrap.com -->
            <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
            <link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
            <link href="carousel.css" rel="stylesheet">

            <!-- Title Block will Dynamically change with each webpage and jinja used -->
            <title>{% block title %}{% endblock %}</title>
        </head>

        <!-- Body within the layout will implement a navbar and footer to reamin constant across all web pages -->
        <div class="container">
            <header class="border-bottom py-1 mb-3" data-bs-theme="dark">
            <!-- Website title block with subscribe and login at either end-->
                <div class="row flex-nonwrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                        <a class="link-secondary" href="/login">Log In</a>
                    </div>
                    <div class="col-4 text-center text-light">
                        <h1>NOCTURNAL MEDIATIONS</h1>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="link-secondary" href="/subscribe">Subscribe</a>
                    </div>
                </div>
            </header>        
                <!-- Nabbar Code: -->
            <div class="nav-scroller py-1 mb-3 border-bottom">    
                <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary navbar-dark bg-dark">
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <!-- Nav bar links not working may need to make a route in app.py so that they are functional-->
                            <li class="nav-item">
                                <a class="nav-link active text-light" aria-current="page" href="/index">Home</a>
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Essays
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Peak Fossil Fuel</a></li>
                                    <li><a class="dropdown-item" href="#">The Value of Currency</a></li>
                                    <li><a class="dropdown-item" href="#">The AI Arms Race</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">Peak Fossil Fuel</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">The Value of Currency</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" href="#">The AI Arms Race</a>
                            </li>
                            <div>
                                {{ session.get('user_name','') }}
                            </div>
                            <li class="nav-item">
                                <!-- For this navbar item ensure propper jinja is used if user creates a subscriber account -->
                                <!-- Ensure that if the user is not signed up that this list item will direct to sign up page-->
                                <a class="nav-link text-light disabled" aria-disabled="true" >Subscriber Access</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>    

        <body>
            <!-- Body with jinja to allow dynamic body webpages, ensure all webpages utilize dark theme -->
            {% block body %}{% endblock %}
        </body>


        <!-- Footer -->
        <!-- No Jinja Block as the goal of the footer is that it will stay constant across all web pages of the web app-->
        <footer class="container bg-dark">
            <div class="container justify-content-center">
                <p class="text-light">NOCTURNAL MEDITATIONS</p>
                <p class="float-end">
                    <a href="#">Back to top</a>
                </p>
            </div>
        </footer>

    </html>
</DOCTYPE>